In [79]:
import pandas as pd

In [80]:
pd.__version__

'1.4.4'

In [81]:
df_gt = pd.read_csv('green_tripdata_2019-01.csv.gz')
#df_gt
df_gt.dtypes

VendorID                   int64
lpep_pickup_datetime      object
lpep_dropoff_datetime     object
store_and_fwd_flag        object
RatecodeID                 int64
PULocationID               int64
DOLocationID               int64
passenger_count            int64
trip_distance            float64
fare_amount              float64
extra                    float64
mta_tax                  float64
tip_amount               float64
tolls_amount             float64
ehail_fee                float64
improvement_surcharge    float64
total_amount             float64
payment_type               int64
trip_type                  int64
congestion_surcharge     float64
dtype: object

In [82]:
df_zone = pd.read_csv('taxi_zone_lookup.csv')
#df_zone
#df_zone.dtypes

In [83]:
from sqlalchemy import create_engine

In [84]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [85]:
print(pd.io.sql.get_schema(df_gt, name='green_taxi_trips', con=engine))

CREATE TABLE green_taxi_trips (
	"VendorID" BIGINT,
	lpep_pickup_datetime TEXT,
	lpep_dropoff_datetime TEXT,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)

In [86]:
print(pd.io.sql.get_schema(df_zone, name='zones_data', con=engine))

CREATE TABLE zones_data (
	"LocationID" BIGINT,
	"Borough" TEXT,
	"Zone" TEXT,
	service_zone TEXT
)

In [87]:
df_gt_iter = pd.read_csv('green_tripdata_2019-01.csv.gz', iterator=True, chunksize=100000)

In [88]:
df_gt = next(df_gt_iter)
len(df_gt)

100000

In [89]:
df_gt.lpep_pickup_datetime = pd.to_datetime(df_gt.lpep_pickup_datetime)
df_gt.lpep_dropoff_datetime = pd.to_datetime(df_gt.lpep_dropoff_datetime)

In [90]:
df_gt.dtypes

VendorID                          int64
lpep_pickup_datetime     datetime64[ns]
lpep_dropoff_datetime    datetime64[ns]
store_and_fwd_flag               object
RatecodeID                        int64
PULocationID                      int64
DOLocationID                      int64
passenger_count                   int64
trip_distance                   float64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
ehail_fee                       float64
improvement_surcharge           float64
total_amount                    float64
payment_type                      int64
trip_type                         int64
congestion_surcharge            float64
dtype: object

In [91]:
df_gt.head(n=0).to_sql(name='green_taxi_trips', con=engine, if_exists='replace')

0

In [92]:
df_zone.head(n=0).to_sql(name='zones_data', con=engine, if_exists='replace')

0

In [93]:
%time df_zone.to_sql(name='zones_data', con=engine, if_exists='append')

CPU times: user 10.4 ms, sys: 142 Âµs, total: 10.6 ms
Wall time: 14.9 ms

265

In [94]:
%time df_gt.to_sql(name='green_taxi_trips', con=engine, if_exists='append')

CPU times: user 4.24 s, sys: 45.5 ms, total: 4.29 s
Wall time: 9.12 s

1000

In [95]:
from time import time

In [96]:
while True:
    
    try:
        
        t_start = time()

        df_gt = next(df_gt_iter)

        df_gt.lpep_pickup_datetime = pd.to_datetime(df_gt.lpep_pickup_datetime)
        df_gt.lpep_dropoff_datetime = pd.to_datetime(df_gt.lpep_dropoff_datetime)

        df_gt.to_sql(name='green_taxi_trips', con=engine, if_exists='append')

        t_end = time()

        print('inserted another chunk, took {:.3f} seconds'.format(t_end - t_start))
    
    except StopIteration:
        print('Completed ingestion at {}'.format(time()))
        break

inserted another chunk, took 9.551 seconds
inserted another chunk, took 9.625 seconds
inserted another chunk, took 9.323 seconds
inserted another chunk, took 9.342 seconds
inserted another chunk, took 9.640 seconds
inserted another chunk, took 2.886 seconds
Completed ingestion at 1674328243.2666082